/* Universal Styles */
html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
}

h1, h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
/* Header */

.logo {
  background-color: black;
  color: white;
}

.logo .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0.66rem 0.5rem;
}
.logo img {
  height: 1.5rem;
  padding-right: 1rem;
}


/* Main Banner */

.banner {
  height: 25rem;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  width: 20rem;
  position: relative;
  padding: 2rem 3rem;
  top: 9rem;
  background-color: black;
  color: white;
}

.headline h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  font-weight: bold;
}

.headline h4 {
  font-size: 1rem;
  font-weight: bold;
}

/* Navigation Bar */

nav {
  background-color: firebrick;
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

/* Product Grid */

.products, .locnhrs {
  top: 3rem;
}

.product-pen,
.product-watch,
.product-glasses {
  width: 30%;
  border: 4px solid black;
  display: inline-flex;
}

.product-image img {
  height: 9rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description: {
  display: block;
  padding: 0.5rem;
  text-align: center;
  background-color: black;
  color: white;
}
